*{
  font-family: Arial, sans-serif;
}
ul{
  font-style: italic;
}
img{
  width: 400px;
}
.site-header{
  text-align: center;
}
.recipe-link{
  color:black;
  text-decoration: none;
  font-style: normal;
  font-size: 18px;
  margin-bottom: 8px;
  display: block;
  
}
.recipe-container{
  margin: 10px;
}
.preview-recipe-img{
  width:200px;
  height: auto;
}