*{
  font-family: Arial, sans-serif;
}
ul{
  font-style: italic;
}

.site-header{
  text-align: center;
}
.recipe-link, .recipe-link p{
  color:black;
  text-decoration: none;
  font-style: normal;
  font-size: 18px;
  margin: 8px 0 8px 0;
  display: block;
  text-align: center;
  
}
.recipe-container{
  display:inline-block;
  border: 1px solid black;
}
.preview-recipe-img{
  height:200px;
  width: auto;
}